.header {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border: 1px solid gray;
}

.header-image {
    max-width: 30%;
    flex: 1 0 0;
}

.header-buttons {
    max-width: 30%;
    flex: 1 0 0;
    display: flex;
    justify-content: flex-end;
}

.header-buttons > div {
    max-width: 60px;
    flex: 1 0 0;
}

.menu {
    position: absolute;
    top: 65px;
    z-index: 2;
}